{% extends "qa/base.html" %}

{% block page_header %}
<h2>Question</h2>
{% endblock page_header %}

{% block content %}
<h3>{{ question.title }}</h3>
{{ question.text }}

<h3>Answers:</h3>
<ol>
    {% for answer in answers %}
    <li>
        {{ answer.text }}
    </li>
    {% endfor %}
</ol>

<h3>Add answer:</h3>
<form method="POST" action="{% url 'show_question' question_id=question.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>
{% endblock content %}